<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- TAMBAHKAN PERMISSION INI (Wajib untuk Map & Lokasi) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NgGojek">

        <!-- Activity Utama (Launcher) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".PesanMobilActivity"
            android:exported="false" />

        <activity
            android:name=".PesanMotorActivity"
            android:exported="false" />

        <activity
            android:name=".KonfirmasiActivity"
            android:exported="false" />

        <activity
            android:name=".MencariDriverActivity"
            android:exported="false" />

        <activity
            android:name=".OrderanBerlangsungActivity"
            android:exported="false" />

        <activity
            android:name=".ChatActivity"
            android:exported="false" />

        <!-- CATATAN: RiwayatActivity DIHAPUS karena sudah jadi Fragment -->
    </application>

</manifest>